.page-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: Tan;
  width: 100%;
  height: 80vh;
}

.img-wrapper{
  width: 70%;
  height: 70%;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
}
.page-main-container{
  color:darkmagenta;
}